# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
src-tauri/bin/**
.env

node_modules
build/launch_blackvideo_dev
dist
__docs__.zip
src/backup/
task/
documentaion
errors/
samples
__docs__
Website
Versions
# Node modules
functions/node_modules/
# Tauri binaries
src-tauri/bin/win/ffmpeg/*
# FFmpeg binaries (Tauri)
src-tauri/bin/win/ffmpeg/ffprobe.exe
src-tauri/bin/win/ffmpeg/ffmpeg.exe
src-tauri/bin/win/ffmpeg/ffplay.exe
src-tauri/bin/win/ffmpeg/
src-tauri/bin/windows/
src-tauri/bin/linux/
src-tauri/bin/macos/
# Executables & shared libs
*.exe
*.dll
*.so
*.dylib
*.spec


dist-ssr
*.local

# Editor directories and files
.vscode/*
.VSCodeCounter*
!.vscode/extensions.json
.idea
.codeviz/
.DS_Store
desktop.ini
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# EV files
.ev
