
/*.terminal-container {
    width: 100%;
    height: 4px;
    position: fixed;
    bottom: 32px;
    z-index: 12;
}

.blackvideo-terminal {
    width: 100%;
    height: 4px;
    position: fixed;
    bottom: 32px;
    background: #00000082;
    z-index: 12;
    cursor: n-resize;
}
.terminal-components {
    width: 100%;
    position: absolute;
    height: 100%;
}
    */

   